<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/releases.js"></script>
{{ partial "head.html" . }}
{{ partial "navigation.html" . }}
<div class="list-container" style="padding-top: 100px">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 ">
      <h1>OMG Product Bundle</h1>
      <p>Below are the available downloads for the latest release of the product plugins.
        Please download the proper package for your operating system.
        You can also download older versions from the
        <a href="https://github.com/enaml-ops/omg-product-bundle/releases">GitHub releases page</a>.
      </p>
      <h2 id="omg-product-bundle">
        <span class="rel">Latest Release</span>
        <span class="dlcount"></span>
      </h2>


      <hr/>
      <h3>
        <span >Cloud Foundry</span>
        <br>
        <span id="cloudfoundry-plugin-osx" style="border-right-color: black;border-right-style: solid;border-right-width: 2;margin-right: 5;padding-right: 3;">
          <span class="fa fa-apple"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">OS X</a>
        </span>
        <span id="cloudfoundry-plugin-linux">
          <span class="fa fa-linux"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">Linux</a>
        </span>

      </h3>

      <hr/>
      <h3>
        <span >Vault</span>
        <span class="badge"></span>
        <br>
        <span id="vault-plugin-osx" style="border-right-color: black;border-right-style: solid;border-right-width: 2;margin-right: 5;padding-right: 3;">
          <span class="fa fa-apple"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">OS X</a>
        </span>
        <span id="vault-plugin-linux">
          <span class="fa fa-linux"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">Linux</a>
        </span>
      </h3>

      <hr/>
      <h3>
      <span >Concourse</span>
        <span class="badge"></span>
        <br>
        <span id="concourse-plugin-osx" style="border-right-color: black;border-right-style: solid;border-right-width: 2;margin-right: 5;padding-right: 3;">
          <span class="fa fa-apple"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">OS X</a>
        </span>
        <span id="concourse-plugin-linux">
          <span class="fa fa-linux"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">Linux</a>
        </span>
      </h3>

      <hr/>
      <h3>
        <span >Redis</span>
        <span class="badge"></span>
        <br>
        <span id="redis-plugin-osx" style="border-right-color: black;border-right-style: solid;border-right-width: 2;margin-right: 5;padding-right: 3;">
          <span class="fa fa-apple"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">OS X</a>
        </span>
        <span id="redis-plugin-linux">
          <span class="fa fa-linux"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">Linux</a>
        </span>
      </h3>

      <hr/>
      <h3>
        <span >Docker Registry</span>
        <span class="badge"></span>
        <br>
        <span id="docker-registry-plugin-osx" style="border-right-color: black;border-right-style: solid;border-right-width: 2;margin-right: 5;padding-right: 3;">
          <span class="fa fa-apple"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">OS X</a>
        </span>
        <span id="docker-registry-plugin-linux">
          <span class="fa fa-linux"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">Linux</a>
        </span>
      </h3>

      <hr/>
      <h3>
        <span >Docker</span>
        <br>
        <span id="docker-plugin-osx" style="border-right-color:black;border-right-style:solid;border-right-width:2;margin-right:5;padding-right:3;">
          <span class="fa fa-apple"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">OS X</a>
        </span>
        <span id="docker-plugin-linux">
          <span class="fa fa-linux"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">Linux</a>
        </span>
      </h3>

      <hr/>
      <h3>
        <span>p-mysql</span>
        <br>
        <span id="p-mysql-plugin-osx" style="border-right-color:black;border-right-style:solid;border-right-width:2;margin-right:5;padding-right:3;">
          <span class="fa fa-apple"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">OS X</a>
        </span>
        <span id="p-mysql-plugin-linux">
          <span class="fa fa-linux"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">Linux</a>
        </span>
      </h3>

      <hr/>
      <h3>
        <span>p-rabbitmq</span>
        <br>
        <span id="p-rabbitmq-plugin-osx" style="border-right-color:black;border-right-style:solid;border-right-width:2;margin-right:5;padding-right:3;">
          <span class="fa fa-apple"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">OS X</a>
        </span>
        <span id="p-rabbitmq-plugin-linux">
          <span class="fa fa-linux"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">Linux</a>
        </span>
      </h3>

      <hr/>
      <h3>
        <span>p-spring-cloud-services</span>
        <br>
        <span id="p-spring-cloud-services-plugin-osx" style="border-right-color:black;border-right-style:solid;border-right-width:2;margin-right:5;padding-right:3;">
          <span class="fa fa-apple"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">OS X</a>
        </span>
        <span id="p-spring-cloud-services-plugin-linux">
          <span class="fa fa-linux"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-product-bundle/releases/latest">Linux</a>
        </span>
      </h3>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>

{{ partial "footer.html" . }}
