<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/releases.js"></script>
{{ partial "head.html" . }}
{{ partial "navigation.html" . }}
<div class="list-container" style="padding-top: 100px">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 ">
      <br/>

      <h1>OMG downloads</h1>
      <h2 id="omg-cli">
        <span class="rel">Latest Release</span>
        <span class="dlcount"></span>
      </h2>

      <h2>OMG CLI</h2>
      <p>Below are the available downloads for the latest version of the OMG CLI.
        Please download the proper package for your operating system.
        You can also download older versions of OMG from the
        <a href="https://github.com/enaml-ops/omg-cli/releases">GitHub releases page</a>.
      </p>


      <hr/>
      <h3>
        <br>
        <span id="omg-osx" style="border-right-color: black;border-right-style: solid;border-right-width: 2;margin-right: 5;padding-right: 3;">
          <span class="fa fa-apple"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-cli/releases/latest">OS X</a>
        </span>
        <span id="omg-linux">
          <span class="fa fa-linux"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-cli/releases/latest">Linux</a>
        </span>
      </h3>


      <br/>
      <br/>
      <br/>
      <br/>
      <h2>Cloud Config Plugins</h2>
      <p>Below are the available downloads for the latest release of the cloud config plugins.
        Please download the proper package for your operating system.
        You can also download older versions from the
        <a href="https://github.com/enaml-ops/omg-cli/releases">GitHub releases page</a>.
      </p>



      <hr/>
      <h3>
        <span >AWS Cloud Config</span>
        <br>
        <span id="aws-cloudconfigplugin-osx" style="border-right-color: black;border-right-style: solid;border-right-width: 2;margin-right: 5;padding-right: 3;">
          <span class="fa fa-apple"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-cli/releases/latest">OS X</a>
        </span>
        <span id="aws-cloudconfigplugin-linux">
          <span class="fa fa-linux"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-cli/releases/latest">Linux</a>
        </span>
      </h3>
<hr/>
      <h3>
        <span >GCP Cloud Config</span>
        <br>
        <span id="gcp-cloudconfigplugin-osx" style="border-right-color: black;border-right-style: solid;border-right-width: 2;margin-right: 5;padding-right: 3;">
          <span class="fa fa-apple"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-cli/releases/latest">OS X</a>
        </span>
        <span id="gcp-cloudconfigplugin-linux">
          <span class="fa fa-linux"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-cli/releases/latest">Linux</a>
        </span>
      </h3>
<hr/>
      <h3>
        <span >Photon Cloud Config</span>
        <br>
        <span id="photon-cloudconfigplugin-osx" style="border-right-color: black;border-right-style: solid;border-right-width: 2;margin-right: 5;padding-right: 3;">
          <span class="fa fa-apple"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-cli/releases/latest">OS X</a>
        </span>
        <span id="photon-cloudconfigplugin-linux">
          <span class="fa fa-linux"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-cli/releases/latest">Linux</a>
        </span>
      </h3>

<hr/>
      <h3>
        <span >VSphere Cloud Config</span>
        <br>
        <span id="vsphere-cloudconfigplugin-osx" style="border-right-color: black;border-right-style: solid;border-right-width: 2;margin-right: 5;padding-right: 3;">
          <span class="fa fa-apple"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-cli/releases/latest">OS X</a>
        </span>
        <span id="vsphere-cloudconfigplugin-linux">
          <span class="fa fa-linux"></span><a style="font-size:14;padding:5" href="https://github.com/enaml-ops/omg-cli/releases/latest">Linux</a>
        </span>
      </h3>
      <hr/>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

{{ partial "footer.html" . }}
