<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/releases.js"></script>
{{ partial "head.html" . }}
{{ partial "navigation.html" . }}
<div class="list-container" style="padding-top: 100px">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 ">
        {{ .Content }}
        <br/>
        <h3 id="version">Latest Release</h3>
        <hr/>
        <h2 class="fa fa-linux">
          <a href="https://github.com/enaml-ops/omg-cli/releases/latest">Linux</a>
          <span></span>
        </h2>
        <hr/>
        <h2 class="fa fa-apple">
          <a href="https://github.com/enaml-ops/omg-cli/releases/latest">OS X</a>
          <span></span>
        </h2>
        <hr/>
        <h2 class="fa fa-windows">
          <a href="https://github.com/enaml-ops/omg-cli/releases/latest">Windows (not yet supported)</a>
        </h2>
        <hr/>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

{{ partial "footer.html" . }}
